*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}